/*--------------------------------------- Colors ---------------------------------------*/

:root {
    --primary-color: #007bff;
    --secondary-color: #f5f5f5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-light: #f8f9fa;
    --color-grey-dark: #343a40;
    }

/*--------------------------------------- Global Styles ---------------------------------------*/

body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 

h2{
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-grey-dark)
}

body {
    font-family: roboto, sans-serif;
    background-color: var(--secondary-color);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

nav {
    background: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: none;
}

nav a {
    color: white;
    padding: 0 20px;
}

.button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

.featured-hats,
.full-collection {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hat,
.collection-item {
    background: #ddd;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.about{
    margin: 2em 0;
    padding: 2em;
    text-align: center;
}

/*--------------------------------------- Styling the nav bar ---------------------------------------*/
nav {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-transform: uppercase;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    transform: translateY(2px);
}

nav a.active {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

/*--------------------------------------- Nav bar logo ---------------------------------------*/

.navbar-logo img {
    max-height: 50px;
    width: auto;
    padding: 5px 0;
}

.navbar-logo {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .navbar-logo img {
        max-height: 40px;
    }
}

nav a:hover {
    color: #000;
    background-color: #fff;
}

.navbar-logo:hover {
    color: inherit;
    background-color: transparent;
}

.navbar-logo:hover * {
    color: inherit;
    background-color: transparent;
}

/*--------------------------------------- Hero Image ---------------------------------------*/

.welcome-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: 120px;
    text-align: center;
    z-index: 5;
    text-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

/*--------------------------------------- Hero Image ---------------------------------------*/

.full-width-nav {
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
}

.full-width-image {
    width: 100vw;
    height: auto;
    display: block;
}

.full-width-hero {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center;
}

/*--------------------------------------- Button ---------------------------------------*/


/*--------------------------------------- Featured Hats ---------------------------------------*/

.featured-hats{
    margin: 2em 0;
    padding: 0 2em;
    padding-top: 0px;
    background-color: var(--secondary-color);
}

.hats-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hat-container {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.hat-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hat-container {
    position: relative;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

.hat-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hat-btn:hover {
    color:white;
    background-color: #000;
    transition: background-color 1s ease;
}

.hat-container {
    position: relative;
    text-align: center;
}

.hat-title {
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 16px;
    color: var(--color-grey-light);
    background-color: var(--color-grey-dark);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hat-title:hover {
    transition: background-color .3s ease;
    background-color: var(--color-grey-light); 
    color: var(--color-grey-dark);
}

/*--------------------------------------- Find Out More ---------------------------------------*/

h3{
    position:relative;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
}

.about-hats-section {
    background-color: var(--color-grey-dark);
    color:var(--color-white);
    padding: 40px;
    border-radius: 8px;
    max-width: 800px;
    margin: 2em auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-hats {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--color-white);
    text-align: justify;
    transition: color 0.3s ease;
}

.second-paragraph {
    padding-top: 20px;
    /* Adjust the value as needed */
}

/*--------------------------------------- Hat Collection ---------------------------------------*/

.hat-container img {
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.hat-container img:hover {
    transform: scale(1.25);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1700px;
    height: 500px;
    transition: all 400ms;
    gap: 1.5em;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

/* Experimental */

.box-1 img:hover {
    filter: blur(0px)!important;
}

.box {
    transition: filter 0.3s ease, transform 0.3s ease;
    display: block;
    width: 100%;
    margin: 0 auto;
    filter: grayscale(100%) !important;
}

.box:hover {
    filter: grayscale(0%) !important;
}

/*--------------*/

.container:has(.box-1:hover) {
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
}

.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
}

.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
}

/*--------------------------------------- Footer ---------------------------------------*/

footer {
    background-color: #000000;
    color: #fff;
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.footer-logo img {
    max-height: 60px;
    width: auto;
    margin-bottom: 1em;
}

.footer-nav,
.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.footer-nav a,
.footer-socials a {
    color: #ffffff;
    padding: 0.5em;
    margin: 0.25em 0;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}

/* Links */

.footer-nav a,
.footer-socials a {
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.footer-nav a:hover,
.footer-socials a:hover {
    background-color: white;
    color: var(--color-black);
    transform: translateY(2px);
}