/* Custom Hero Button */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    line-height: 40px;
}

/*--------------------------------------- 16 ---------------------------------------*/

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: none;
    color: #000;
}

.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all .5s ease;
    border-radius: 5px;
}

.btn:hover {
    color: #000;
}

.btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

/* Mobile */

@media (max-width: 768px) {

    .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Ensure each box in the collection is displayed inline and has margin for separation */
.box {
    flex: 0 0 auto;
    margin-right: 20px;
}

.box {
    width: 50%;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
}

/* Remove the hover effect on mobile as it's not as effective on touch devices */
.container .box:hover {
    filter: none;
}


.box:last-child {
    margin-right: 0;
}
    nav {
        align-items: flex-start;
    }

    nav {
        padding: 5px 0;
    }

    nav a {
        padding: 5px 10px;
        font-size: 14px;
    }

    .navbar-logo img {
        max-height: 30px; 
    }

    nav a {
        padding: 10px 0;
    }

    .hats-container {
        flex-direction: column;
        align-items: center;
    }

    .hat-container {
        width: 80%;
        margin-bottom: 20px;
    }

    .full-width-hero {
        height: 50vh;
    }

    .welcome-message {
        font-size: 3em;
    }

    .container {
        width: 100%;
        gap: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav,
    .footer-socials {
        flex-direction: row;
        justify-content: center;
    }

    .footer-nav a,
    .footer-socials a {
        padding: 5px;
    }
}
